{% extends 'components/base.html.twig' %}
{% block title %}Search Movie{% endblock %}
{% block body %}
    {{ include('components/header.html.twig') }}
    <div class="container mx-auto">
        <div class="mt-8 mb-4">
            {{ form_start(order_form) }}
                <div class="flex flex-row items-center justify-between">
                    <div class="flex flex-row gap-2 items-center justify-center">
                        {{ form_label(order_form.orderBy) }}
                        {{ form_widget(order_form.orderBy, {'attr': {'class' : 'rounded-md text-gray-200 bg-gray-900 cursor-pointer'}}) }}
                        {{ form_widget(order_form.sortOrder, {'attr': {'class': 'rounded-md text-gray-200 bg-gray-900 cursor-pointer'}}) }}
                    </div>
                    <div class="flex items-center justify-center">
                        {{ form_widget(order_form.apply, {'attr': {'class': 'rounded-md bg-indigo-500 hover:bg-indigo-400 py-2 px-4'}}) }}
                    </div>
                </div>
            {{ form_end(order_form) }}
        </div>
        <div id="moviesContainer" class="flex flex-row flex-wrap justify-center gap-2">
            {% if movies | length == 0 %}
                <h1 class="w-full">No Movies Found</h1>
            {% endif %}
            {% for movie in movies %}
                <a href="{{ path('movie', {id: movie.getId()}) }}" class="flex flex-col w-56 my-1 hover:brightness-125 transition ease-in-out duration-200">
                    {% include 'elements/movieCoverPhoto.html.twig' with {'size': 'w-full h-[21rem]'} %}
                    <h1 class="font-bold text-xl truncate">{{ movie.getTitle() }}</h1>
                </a>
            {% endfor %}
        </div>
        {{ include('components/pagination.html.twig', { 'searchType': 'searchMovie'}) }}
    </div>
{% endblock %}