{% extends 'components/base.html.twig' %}
{% block title %}Search User{% endblock %}
{% block body %}
    {{ include('components/header.html.twig') }}
    <div class="container mx-auto my-10">
        <div id="moviesContainer" class="flex flex-row flex-wrap justify-center items-center gap-2">
            {% if users | length == 0 %}
                <h1 class="w-full">No Users Found</h1>
            {% endif %}
            {% for user in users %}
                {% set profile_image = user.getProfileImage() %}
                <a href="{{ path('user', {'username' : user.username}) }}" class="flex flex-row justify-center align-middle items-center p-5 border border-gray-800 bg-gray-900 rounded-md w-[22rem]">
                    <div>
                        {% include 'elements/userProfileImage.html.twig' with {'width': 14, 'height': 14 } %}
                    </div>
                    <div class="flex flex-col gap-2 w-[80%] m-2">
                        <h1 class="text-xl font-medium ml-auto text truncate">@{{ user.getUsername() }}</h1>
                        <h1 class="text-xl font-medium ml-auto">{{ user.getReviews() | length }} reviews</h1>
                    </div>
                </a>
            {% endfor %}
        </div>
        {{ include('components/pagination.html.twig', {'searchType': 'searchUser'}) }}
    </div>
{% endblock %}