<div class="h-{{ width }} w-{{ height }} rounded-full border border-gray-700 flex justify-center items-center">
    {% if user.getProfileImage() %}
        <img class="rounded-full h-full w-full" src="{{ asset(user.getProfileImage()) }}" alt="{{ user.getUsername() }} Profile Image"/>
    {% else %}
        <div class="w-[40%]">
            {{ include('svgs/NoProfileImage.svg') }}
        </div>
    {% endif %}
</div>