{% extends 'components/base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
    {{ include('components/header.html.twig') }}
    {% if pickOfTheMonth %}
        <div class="flex justify-center items-center m-auto bg-cover bg-center" style="background-image: url({{ asset('assets/FruitsPattern.png') }});">
            <a href="{{ path('movie', {id: pickOfTheMonth.getId()}) }}" class="flex flex-row justify-center items-center my-5 hover:brightness-125 transition ease-in-out duration-200">
                <div class="flex align-middle justify-center text-center flex-col py-1">
                    {% include 'elements/movieCoverPhoto.html.twig' with {'movie': pickOfTheMonth, 'size': 'w-52 h-[19.5rem]'} %}
                </div>
                <div class="mx-2 ">
                    <h1 class="text-4xl font-black drop-shadow-[0_2.5px_2.5px_rgba(0,0,0,0.8)]">FRUIT PICK</h1>
                    <h3 class="text-2xl font-bold drop-shadow-[0_2.5px_2.5px_rgba(0,0,0,0.8)]">Of The Month</h3>
                </div>
            </a>
        </div>
    {% endif %}
    <div class="container flex flex-row mx-auto items-center">
        <div class="text-2xl flex flex-col justify-start m-2">
            <h1 class="m-2 font-bold">Juiciest Picks 🍉</h1>
            <div class="flex flex-row justify-start items-start mt-2 text-base gap-2 container overflow-x-auto">
                {% for movie in juiciestPicks %}
                    <a href="{{ path('movie', {id: movie.getId()}) }}" class="flex flex-col w-52 h-full hover:brightness-125 transition ease-in-out duration-200">
                        {% include 'elements/movieCoverPhoto.html.twig' with { 'size': 'w-52 h-72 object-fill'} %}
                        <h2 class="m-2 font-bold truncate">{{ movie.getTitle() }}</h2>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}