{% extends 'components/base.html.twig' %}
{% block title %}{{ movie.getTitle() }}{% endblock %}
{% block body %}
    {{ include('components/header.html.twig') }}
    {% set director, actors =  movie.getDirector(), movie.getActors() %}
    <div class="flex flex-row container mx-auto items-start justify-center mt-10">
        {% include 'elements/movieCoverPhoto.html.twig' with {'size': 'w-80 h-[30rem]', 'style': 'mx-12'} %}
        <div class="flex flex-col justify-start items-start gap-8 w-full">
            <div class="w-full">
                <div class="mb-2 flex flex-row w-full items-center justify-between">
                    <div>
                        <h1 class="text-4xl font-bold">{{ movie.getTitle() }}</h1>
                        <h3 class="ml-auto font-semibold">{{ movie.getReleaseDate().format("d-m-Y") }}</h3>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('deleteMovie', {'id': movie.getId()}) }}" class="p-2 text-red-600 w-10 h-10 hover:text-red-500">
                            {{ include('svgs/bin.svg') }}
                        </a>
                    {% endif %}
                </div>
                <p class="text-xl">{{ movie.getOverview() }}</p>
            </div>
            <div class="flex flex-row gap-6">
                {% if director %}
                    <div class="flex flex-col justify-start gap-2">
                        <h2 class="text-2xl font-bold">Director</h2>
                        <div>
                            <div class="h-60 w-40 flex justify-center items-center">
                                {% if director.getPhoto() %}
                                    <img src="{{ director.getPhoto() }}" alt="{{ director.getName() }} Photo"/>
                                {% else %}
                                    <div class="w-full">
                                        {{ include('svgs/NoCrewMemberPhoto.svg') }}
                                    </div>
                                {% endif %}
                            </div>
                            <h3 class="font-medium">{{ director.getName() }}</h3>
                        </div>
                    </div>
                {% endif %}
                {% if actors %}
                    <div class="flex flex-col justify-start gap-2">
                        <h2 class="text-2xl font-bold">Cast</h2>
                        <div class="flex flex-row justify-start items-start gap-2 overflow-x-auto w-[55rem]">
                            {% for actor in actors %}
                                <div class="flex flex-col justify-center">
                                    <div class="h-60 w-40 flex justify-center items-center">
                                        {% if actor.getPhoto() %}
                                            <img src="{{ actor.getPhoto() }}" alt="{{ actor.getName() }} Photo"/>
                                        {% else %}
                                            <div class="w-full">
                                                {{ include('svgs/NoCrewMemberPhoto.svg') }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <h3 class="font-medium">{{ actor.getName() }}</h3>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if movie.hasReleased() %}
            {% set canReview = false %}
            {% set userReview = null %}
            {% if is_granted('IS_AUTHENTICATED') %}
                {% set userReview =  app.user.getReviewForMovie(movie.getId()) %}
                {% if userReview is null and not app.user.isRestricted() %}
                    {% set canReview = true %}
                {% endif %}
            {% endif %}
                <div class="w-full">
                    <div class="flex flex-row gap-2 text-start align-middle items-center justify-start">
                        <h2 class="text-2xl font-bold">Reviews</h2>
                        {% if canReview %}
                            <button data-modal-target="add-review-modal" data-modal-toggle="add-review-modal" type="button" class="hover:text-indigo-400 transition-colors duration-100 ease-in-out flex items-center justify-center align-middle">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                            </button>
                            {% include 'modals/addEditReview.html.twig' with {'form': addReviewForm, 'formId': 'add-review-modal', 'formAction': path('addReview', {'id': movie.getId()})} %}
                        {% endif %}
                    </div>
                    {% if reviews.count > 0 %}
                        <div class="flex flex-col gap-2 mt-4 w-full">
                            {% if userReview %}
                                {% include 'elements/review.html.twig' with {'review' : userReview, 'with_profile_header': true } %}
                            {% endif %}
                            {% for review in reviews %}
                                {% if review != userReview %}
                                    {% include 'elements/review.html.twig' with {'review' : review, 'with_profile_header': true } %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div>
                        <h1 class="text-md text-gray-500">No Reviews</h1>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}