{% extends 'components/base.html.twig' %}

{% block title %}{{ user.getUsername() }}{% endblock %}
{% block body %}
    {{ include('components/header.html.twig') }}
    <div class="container mx-auto flex flex-col gap-6">
        <div class="flex flex-row gap-12 w-full h-full">
            <div class="w-32 h-32">
                {% include('elements/userProfileImage.html.twig') with {'width' : 'full', 'height': 'full'} %}
            </div>
            <div>
                {% if is_granted('ROLE_ADMIN') %}
                    <h2 class="text-gray-400">{{ user.getMainRole() }}</h2>
                {% endif %}
                <h1 class="text-2xl font-semibold">@{{ user.username }}</h1>
                <div class="flex flex-row justify-end items-center gap-2 ">
                    <div class="flex flex-col gap-1 justify-center items-end text-gray-400">
                        <p>Reviews</p>
                        <p>Votes</p>
                    </div>
                    <div class="flex flex-col gap-1 justify-end items-end">
                        <p>{{ reviews | length }}</p>
                        <p>{{ user.getVotedReviews() | length }}</p>
                    </div>
                </div>
            </div>
            <div class="ml-auto my-auto h-full flex flex-col gap-2 justify-center items-end align-middle font-semibold">
                {% if app.user != user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('restrictUser', {'id': user.id }) }}" class="h-full flex flex-row gap-2 items-center justify-end hover:text-indigo-500">
                            {% if user.isRestricted() %}
                                Remove Restriction
                            {% else %}
                                Restrict User
                            {% endif %}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-indigo-500">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
                            </svg>
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') and 'ROLE_ADMIN' not in user.getRoles() and 'ROLE_SUPER_ADMIN' not in user.getRoles() %}
                            <a href="{{ path('makeAdmin', {'id': user.id }) }}" class="h-full flex flex-row gap-2 items-center justify-end hover:text-blue-500">
                                Make Admin
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-blue-500">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                                </svg>
                            </a>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') or app.user == user %}
                    <button data-modal-target="are-you-sure" data-modal-toggle="are-you-sure" type="button" class="h-full flex flex-row gap-2 items-center justify-end hover:text-red-500">
                        Delete User
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-500">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>
                    </button>
                    {% include 'modals/areYouSure.html.twig' with {'heading': 'Delete Account', 'yes_href': path('deleteUser', {'id': user.id})} %}
                {% endif %}
            </div>
        </div>
        <div class="flex flex-col gap-6 mb-10">
            <h1 class="text-2xl">Reviews</h1>
            {% for review in reviews %}
                {% if edit_forms %}
                    {% set edit_review_form = edit_forms[review.getId()] %}
                {% endif %}
                {% set movie = review.getMovie() %}
                <div class="flex flex-row gap-4 items-start justify-start">
                    <a href="{{ path('movie', {'id': movie.getId()}) }}" class="hover:brightness-125 transition duration-150 ease-in-out">
                        {% include 'elements/movieCoverPhoto.html.twig' %}
                    </a>
                    {% include 'elements/review.html.twig' %}
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}